
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <h3>This is AppComponents template!!</h3> -->
<!-- <app-display></app-display> -->
<!-- <app-binding-demo></app-binding-demo> --> 
<!-- <app-lifecycle-parent></app-lifecycle-parent> -->
<!-- <app-color-list></app-color-list> -->
<!-- <app-todo-animation></app-todo-animation> -->
<!-- <app-student-list></app-student-list> -->
<!-- <app-parent></app-parent> -->
<!-- <app-observable-demo></app-observable-demo> -->
<!-- <app-student-list-http></app-student-list-http> -->
<!-- <app-weather></app-weather> -->


